.animals {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 50px;



}
.animalsheader {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
}

.reloadANimalsButton{
    display: flex;
justify-content: center;



}
