.animals {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;



}
.animal{
    /* display: flex; */

}


.petName {
    display: flex;
justify-content: center;

}

.ownerName {
    display: flex;
    justify-content: center;
}
.animalsheader {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
}

.reloadANimalsButton{
    display: flex;
justify-content: center;



}

.animalButton{
    display: flex;
    justify-content: center;
}

.nav-link-animal{
    display:flex;
    justify-content: center;
}

.deleteAnimal{
    display:flex;
    justify-content: center;

}


.owners {

    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 100px;
    padding-right: 100px;

}

.individualOwner{
    border: 2px solid black;
    display: flex;
    flex-direction: column;

}